
div {
    margin: 3px;
    padding: 6px;
}
section{
    margin: 3px;
    padding: 6px;
    border: 1px solid rgb(245, 199, 199);
}
.topo{
    display: flex;
    height: 90vh;
    width: 90%;
    background: url("../img/fundo.jpg");
    background-position: center;
    background-size: cover;



}

.depoimento{
    display: flex;
    
  
}

.conteudo{
   
    background-position: center;
    background-size: cover;
    margin: 1em;
    padding: 2em;
    display: flex;
    flex-direction: row;
    width: 70%;
    height: 85%;
}

.formulario{
    margin: 1em;
    padding: 2em;
    width: 30%; /*largura */
    height: 85%;/*altura*/
    justify-content: center;
    align-items: center; 
    flex-direction: row;
   backdrop-filter: blur(4px); /* Para deixar o fundo transparente*/
    border-radius: 3%; /* Para arredondar as bordas*/
    border: 1px solid rgb(251, 245, 245);

}

.beneficios{
    display: flex; /*para deixar itens lado a lado  */
}

.img-beneficios{
    width: 100px;
    height: 100px;
}

.img-depoimento{
    width: 30%;
    height: 80%;
    border-radius: 50%; /*para deixar a img redonda*/
}

