@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
}

h2 {
    font-weight: 500;
    font-size: 1.8em;
}

p {
    font-weight: 300;
}
.container{
    display: flex;
}

.conteudo{
    background: url("assents/img/teclado.jpg");
    background-position: center;
    background-size: cover;
    margin: 1em;
    padding: 2em;
    display: flex;
    flex-direction: row;
    background-color: whitesmoke;
    width: 60%;
    height: 85vh;}

.formulario{
    margin: 1em;
    padding: 2em;
    width: 30%;
    height: 85vh;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    flex-direction: row;
}